html{
    scroll-behavior: smooth;
}

body{
  background-color: #ddd;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav ul{
  list-style-type: none;
}

nav li{
  /*Your code here */
  justify-self: right;
  padding-right: 20px;
  text-decoration: none;
  display: inline;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;/*Your code here - remove the underline*/;
}

nav a:hover{
  text-decoration: /*Your code here - add the underline*/;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: /*Your code here - position relative to the parent */;
  top:      /*Your code here - place 40px higher */;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

/*Your code here*/
/*Add the selector and rule to move the skip link to the exact top.*/


/*Your code here*/
/*Add the selector and code to put a 2px black border around all elements in focus.*/



footer{
  background-color: black;
  color: white;
  grid-column: 1 / -1;  /*Can you explain what this does?*/
  grid-row: 7 / auto;   /*Can you rewrite it?*/
  padding-top: 30px;
  text-align: center;
}


.container{

  /*Your code here  */

  /*Provided*/
display: grid;
grid-template-rows: 30px auto auto auto auto auto 100px; 
width: 100vw; 
grid-template-columns: 100px 500px 100px;
row-gap: 15px;
/* grid-column-gap: 0px; */
/* grid-row-gap: 15px; */

}

.nav{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1/ span 1;
   /*Your code here */

  /*Provided*/
  background-color: #ddd;
  padding: 20px 0; 
  text-align: left; 
}
/* #main{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 2/ span 2;
  background-image: url("../images/header.jpg");
  background-size:cover;
  background-position:center center;
  background-repeat:no-repeat;
  width:100%;   */
  /* Make sure to change image to fit mobily responsive */
  

header{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 2/ span 2;
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/header.jpg");      /* Your code here - Link to header.jpg in the images folder */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 400px;                /* Parallax effect */

  /*Your code here - cover the entire row*/
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.about-image{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 3/ span 3;
  position: absolute;
  z-index: 1;
  /*Your code here */

}

.about{
  display: grid;
  vertical-align: middle;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3/ span 3;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  width: 50%;
  /* vertical-align: center; */

  
  /*Your code here */
}

.method-image{
  /*Your code here */
}

.method{
    /*Your code here - start in the 2nd column*/
}

.clients-image{
 /*Your code here */
}

.clients{
 /*Your code here */
}

.contact-image{
   /*Your code here */
}

.contact{
   /*Your code here */
}

.text-block{

   /*Your code here */
  
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
}


