html{
    scroll-behavior: smooth;
}

body{
  background-color: #ddd;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav ul{
  list-style-type: none;
}

nav li{
  /*Your code here */
  padding-right: 20px;
  text-decoration: none;
  display: inline-block;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;/*Your code here - remove the underline*/;
}
nav a:focus{
  border: 2px solid black;
}

nav a:hover{
  text-decoration: underline;/*Your code here - add the underline*/
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: relative;/*Your code here - position relative to the parent */;
  top:   -40px;   /*Your code here - place 40px higher */;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}
.skip a:focus, .skip a:active{
border: 2px solid black; 
left: auto;
top: auto;
height: auto;
overflow: auto;
margin: 40px;
padding: 6px;
z-index: 999;
  }

/*Your code here*/
/*Add the selector and rule to move the skip link to the exact top.*/


/*Your code here*/
/*Add the selector and code to put a 2px black border around all elements in focus.*/



footer{
  background-color: black;
  color: white;
  grid-column: 1 / -1;  /*Can you explain what this does?*/
  grid-row: 7 / auto;   /*Can you rewrite it?*/
  padding-top: 30px;
  text-align: center;
}


.container{

  /*Your code here  */

  /*Provided*/
display: grid;
grid-template-rows: 30px auto auto auto auto auto 100px; 
width: 100vw; 
grid-template-columns: 1fr 5fr 1fr;
grid-row-gap: 15px;
}

.nav{
  grid-column: 1/ -1;
  grid-row: 1/ auto;
   /*Your code here */

  /*Provided*/
  background-color: #ddd;
  padding: 20px 0; 
  text-align: left; 
  
}
 

header{

  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/header.jpg");      /* Your code here - Link to header.jpg in the images folder */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 400px;                /* Parallax effect */

  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: span 1;
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.about-image{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: span 1;
  max-height: 700px;
  overflow: hidden;
  /* position: absolute;
  z-index: 1; */
  /*Your code here */

}

.about{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 3;
  grid-row-end: span 1;
  /* vertical-align: center; */

  
  /*Your code here */
}

.method-image{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: span 1;
  max-height: 700px;
  overflow: hidden;
  /*Your code here */
}

.method{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;
    /*Your code here - start in the 2nd column*/
}

.clients-image{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 5;
  grid-row-end: span 1;
  max-height: 700px;
  overflow: hidden;
 /*Your code here */
}

.clients{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 5;
  grid-row-end: span 1;
 /*Your code here */
}

.contact-image{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 6;
  grid-row-end: span 1;
  max-height: 700px;
  overflow: hidden;
   /*Your code here */
}

.contact{
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 6;
  grid-row-end: span 1;
   /*Your code here */
}

.text-block{

   /*Your code here */
  
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;

  align-self: center;
  justify-self: center;
}



